<header class="header">
    <a href="/" class="header__logo">NodeJs</a>
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/about" class="">About</a>
            </li>
            <li>
                <a href="/contact" class="">Contact</a>
            </li>
            
        </ul>
    </nav>
    <div class="header__button">
        <button class="searchbtn" aria-expanded="false">
            Search
            <img alt="File:Search Icon.svg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/500px-Search_Icon.svg.png?20181016161702" decoding="async" width="20" height="17.5" srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/750px-Search_Icon.svg.png?20181016161702 1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/1000px-Search_Icon.svg.png?20181016161702 2x" data-file-width="500" data-file-height="500">
        </button>
    </div>

   
<!-- <h6>Click the button to print the given page.</h6>

<button class="printbutton"  onclick="window.print()" style="width:70px; height:10px;"> Save this page </button> -->



</header>